software-properties-common
g++
build-essential
vim
make
gdb
valgrind
autoconf
automake
libtool
curl
unzip
libspdlog-dev
libprotobuf-dev
protobuf-compiler
cmake
clang-15
libabsl-dev
librdmacm-dev
libibverbs-dev
libgtest-dev
libbenchmark-dev
libfmt-dev
libspdlog-dev
libgmock-dev
libc6-dev-i386-cross
nlohmann-json3-dev